                   :root {
                      --cell-width: 50px;
                      --cell-align: center;
                  }
                  /* form header */
                  
                  #set-values {
                      display: block;
                  }
                  /* table and cells */
                  
                  .row {
                      display: grid;
                      grid-template-columns: 50px 80px 50px 50px;
                      align-items: center;
                  }
                  
                  .row * {
                      display: inline-block;
                      max-width: var(--cell-width);
                  }